{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}

    <header>

        {% block header %}
            Мои проекты
        {% endblock %}

    </header>

    <main>
        {% block content %}
                <button><a href="/cryptocraphy">Cryptocraphy</a></button>
                <button>Two</button>
                <button>Three</button>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <
        {% endblock %}
    </footer>

{% endblock %}
</body>
</html>