{% extends 'web/html/base.html' %}

{% block content %}
    <section>
        <div class="card-grid">
            <a class="card" href="/cryptography/">
                <div class="card__background card__background_crypto"></div>
                <div class="card__content">
                    <h3 class="card__heading">Cryptography</h3>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background card__background_other"></div>
                <div class="card__content">
                    <h3 class="card__heading">Example</h3>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"></div>
                <div class="card__content">
                    <h3 class="card__heading">Example</h3>
                </div>
            </a>
    <!--                <button><a href="/cryptocraphy">Cryptocraphy</a></button>-->
    <!--                <button>Two</button>-->
    <!--                <button>Three</button>-->
        </div>
    </section>
{% endblock %}